#content1 {
    height: 100px;
    width: 50%;
    margin: auto;
    background-color: yellow;
    padding: 50px;
}

#content2 {
    display:none;
    height: 100px;
    width: 50%;
    margin: auto;
    background-color: orange;
    padding: 50px;
}

#progress {
    width: 100%;
    background-color: grey;
    border-radius: 2em;
}
  
#bar {
    width: 0%;
    height: 30px;
    background-color: rgba(62, 131, 177, 0.87);
    border-radius: 2em;
}