#content1 {
    height: 100px;
    width: 50%;
    margin: auto;
    background-color: yellow;
    padding: 50px;
}

#content2 {
    display:none;
    height: 100px;
    width: 50%;
    margin: auto;
    background-color: orange;
    padding: 50px;
}

#progress {
    width: 100%;
    background-color: grey;
    border-radius: 2em;
}
  
#bar {
    width: 0%;
    height: 30px;
    background-color: rgba(62, 131, 177, 0.87);
    border-radius: 2em;
}

input {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    padding: 15px 20px;
    font-weight: bold;
    border-bottom: solid grey 1px;
}

.right-border {
    border-right: solid grey 1px;
}

.tabs > div {
    margin: 0 auto;
}

.animated {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }
